:root {
  --header-height: 4rem;
  --footer-height: 5rem;
  --ui-background: 255 255 255;
  --ui-foreground: var(--color-gray-700);
}

.dark {
  --ui-background: var(--color-gray-950);
  --ui-foreground: var(--color-gray-200);
}
